body {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    font-family: Monaco;

    >.number {
        flex-basis: 100%;
        flex-grow: 1;
        text-align: center;
    }

    button,
    input {
        flex-basis: 45%;
        flex-grow: 0;
        text-align: center;
    }
}

.button {
    background-color: #4CAF50;
    /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

html {
    background-color: white;
}